@import "vars"

.flex
  display: flex
  width: 100%
  &--wrap
    flex-wrap: wrap
  &--center
    justify-content: center
    align-items: center
    align-content: center
  &--center-justify
    justify-content: center
  &--center-items
    align-items: center
  &--center-align
    align-content: center
  &--center-content
    align-content: center

  &--justify-around
    justify-content: space-around

.col
  @for $i from 1 through $grid-size
    &--#{$i}
      width: 100% / $grid-size * $i

  @media screen and (min-width: $mobile-width-max)
    @for $i from 1 through $grid-size
      &__sm--#{$i}
        width: 100% / $grid-size * $i

  @media screen and (min-width: $tablet-width-max)
    @for $i from 1 through $grid-size
      &__md--#{$i}
        width: 100% / $grid-size * $i

  @media screen and (min-width: $laptop-width-max)
    @for $i from 1 through $grid-size
      &__lg--#{$i}
        width: 100% / $grid-size * $i
