<section class="view view--home ">
  <header class="view__title ">
    <h1 class="view__title view__title--slogan">Tworzenie stron internetowych na miarę XXI wieku!</h1>
  </header>

  <span class="in__progress">(Strona w budownie)</span>

  <ul class="contact flex flex--justify-around">
    <li class="contact__item">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-phone fa-stack-1x"></i>
                    </span>
      <span class="contact__txt">+48 691 341 765</span>
    </li>
    <li class="contact__item">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-paper-plane-o fa-stack-1x"></i>
                    </span>
      <span class="contact__txt">kubaadrian2@gmail.com</span>
    </li>
    <li class="contact__item">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x"></i>
                    </span>
      <span class="contact__txt">
                        <a href="https://www.facebook.com/adrian.bury.3" target="_blank">facebook.com/adrian.bury.3</a>
                    </span>
    </li>
  </ul>

</section>
