.view--home
  background: url('../assets/images/bg/home.jpg') center
  background-size: cover

.view__title--slogan
  font-size: 2.7rem
  letter-spacing: 0.3rem
  font-weight: 700
  text-transform: uppercase
  font-family: "Cutive", serif
  line-height: 4rem
  margin-bottom: 30px
  position: relative
  text-align: center
  text-shadow: 4px 4px rgba(0, 0, 0, 0.4)
  color: #FFF
  &:after
    content: ""
    position: absolute
    bottom: -15px
    height: 2px
    width: 60%
    margin-left: 20%
    background: #dfe9e0
    left: 0

.contact__item
  font-size: 1.2em
  line-height: 2em
  list-style: none


.in__progress
  font-size: 12px
  color: #891717
